{% load static %}

{% if request.user_agent.is_mobile %}
    {% if request.user.is_authenticated %}
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>F5</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        </head>
        <body>
            <table>
                <tr>
                    <td width="114px" valign="top">
                        <nav>
                            <ul class="menu">
                                <li><button onclick="window.location.href = 'home';" class="menu_item_active"><div class="menu_logo">F5</div> <div class="menu_link">главная</div></button></li>
                                <li><button onclick="window.location.href = 'statistic'"; class="menu_item"><div class="menu_icon"><img src="{% static 'icons/icon_statistics.svg' %}"></div><div class="menu_link">статисика</div></button></li>
                                <li><button onclick="window.location.href = 'settings'"; class="menu_item"><div class="menu_icon"><img src="{% static 'icons/icon_settings.svg' %}"></div><div class="menu_link">настройки</div></button></li>
                            </ul>
                        </nav>
                    </td>
                    <td width="100%" valign="center">
                    </td>
                </tr>
            </table>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% else %}
        <!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Авторизация</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        </head>
        <body>
            <table>
                <tr>
                    <td>
                        <button class="save_btn" onclick="window.location.href = 'login';">Вход</button>
                        <button class="save_btn" onclick="window.location.href = 'signup';">Регистрация</button>
                    </td>
                </tr>
            </table>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% endif %}
{% else %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F5</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>

    <header>
        <nav>
            <div class="container">
                <div class="row">
                    <ul class="menu col-md-12">
                        <li class="menu_item_active"><a href="home" class="menu_link">Главная</a></li>
                        {% if request.user.is_authenticated %}<li class="menu_item"><a href="statistic" class="menu_link">Статистика</a></li>{% else %}{% endif %}
                        {% if request.user.is_authenticated %}<li class="menu_item"><a href="settings" class="menu_link">Настройки</a></li>{% else %}{% endif %}
                    </ul>
              </div>
            </div>
        </nav>
    </header>

    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="promo_image" src="{% static 'images/promo_img.png' %}">
                </div>
                <div class="col-md-7">
                    <h1 class="promo_header">система F5</h1>
                    <h2 class="promo_subheader">для отслеживания <br>изменений в организме</h2>
                    <div class="promo_descr">F5 позволяет надёжно хранить Ваши медецинские данные. <br>Умные алгоритмы анилизируют сохраняемые показатели <br>и строят наглядную статистику. <br><br>Сохраняйте свои медецинские данные <br>безопасно, быстро и удобно!</div>
                    {% if request.user.is_authenticated %}<button class="promo_btn" onclick="window.location.href = 'statistic';">{% else %}<button class="promo_btn" onclick="window.location.href = 'login';">{% endif %}
                      НАЧАТЬ!
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="opportunities">
        <div class="container">
          <div class="label">Возможности</div>
          <div class="title">Lorem ipsum</div>

        </div>
    </section>

    <section class="download">
        <div class="container">
            <div class="label_w">Установить</div>
            <div class="title_w">Мобильное приложение</div>
            <div class="subtitle_w">Для Android</div>
            <img src="{% static 'images/android.png' %}" alt="#" class="download_img">
            <a href="{% static 'download/F5.apk' %}" style="text-decoration: none;" download><button class="download_btn">Скачать apk<img src="{% static 'icons/download.png' %}" alt="" class="download_icon"></button></a>
        </div>
    </section>

    <section class="faq">
        <div class="container">
              <div class="label">FAQ</div>
              <div class="title">Часто задаваемые вопросы</div>
              <div class="subtitle">Возникли вопросы? Сперва ознакомьтесь с ответами на самые часто задоваемые вопросы.</div>
              <div class="accordion" id="accordionFAQ">

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="row"></div>
                      lorem ipsum
                      <img src="{% static 'icons/icon_plus.png' %}" alt="" class="plus">
                    </button>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam. Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus. Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit. Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat. In quis neque a erat hendrerit consequat. Integer non efficitur mauris. Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu. Curabitur molestie felis turpis, a fermentum ipsum mollis non. Nunc dui mi, sagittis sit amet nulla nec, aliquam suscipit velit. Donec in pulvinar sem. Proin blandit ex sed erat eleifend, eget egestas nibh rhoncus.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        lorem ipsum
                        <img src="{% static 'icons/icon_plus.png' %}" alt="" class="plus">
                      </button>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam. Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus. Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit. Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat. In quis neque a erat hendrerit consequat. Integer non efficitur mauris. Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu. Curabitur molestie felis turpis, a fermentum ipsum mollis non. Nunc dui mi, sagittis sit amet nulla nec, aliquam suscipit velit. Donec in pulvinar sem. Proin blandit ex sed erat eleifend, eget egestas nibh rhoncus.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFour">
                    <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      lorem ipsum
                      <img src="{% static 'icons/icon_plus.png' %}" alt="" class="plus">
                    </button>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam. Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus. Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit. Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat. In quis neque a erat hendrerit consequat. Integer non efficitur mauris. Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu. Curabitur molestie felis turpis, a fermentum ipsum mollis non. Nunc dui mi, sagittis sit amet nulla nec, aliquam suscipit velit. Donec in pulvinar sem. Proin blandit ex sed erat eleifend, eget egestas nibh rhoncus.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFive">
                    <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      lorem ipsum
                      <img src="{% static 'icons/icon_plus.png' %}" alt="" class="plus">
                    </button>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam. Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus. Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit. Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat. In quis neque a erat hendrerit consequat. Integer non efficitur mauris. Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu. Curabitur molestie felis turpis, a fermentum ipsum mollis non. Nunc dui mi, sagittis sit amet nulla nec, aliquam suscipit velit. Donec in pulvinar sem. Proin blandit ex sed erat eleifend, eget egestas nibh rhoncus.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        lorem ipsum
                        <img src="{% static 'icons/icon_plus.png' %}" alt="" class="plus">
                      </button>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam. Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus. Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit. Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat. In quis neque a erat hendrerit consequat. Integer non efficitur mauris. Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu. Curabitur molestie felis turpis, a fermentum ipsum mollis non. Nunc dui mi, sagittis sit amet nulla nec, aliquam suscipit velit. Donec in pulvinar sem. Proin blandit ex sed erat eleifend, eget egestas nibh rhoncus.
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
    </section>

    <section class="about_us">
        <div class="container">
            <div class="label_w">О нас</div>
            <div class="title_w">Lorem ipsum</div>
            <div class="subtitle_w">Lorem ipsum</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tincidunt diam.
                Sed ullamcorper nisl metus. Morbi a fermentum erat, non venenatis risus.
                Suspendisse ut tempor leo, vitae dapibus nibh. Etiam vel leo fringilla, blandit enim a, hendrerit elit.
                Aenean sit amet posuere ligula. Donec in augue ornare, efficitur erat a, aliquam erat.
                In quis neque a erat hendrerit consequat. Integer non efficitur mauris.
                Maecenas consectetur est eget vehicula volutpat. Aliquam eu egestas arcu.</div>
            <div class="row">
                <div class="col-md-6">
                    <img src="" class="about_us_img" alt="">
                </div>
                <div class="col-md-6">
                    <img src="" class="about_us_img_r" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="info">
            <div class="info_links">
                <a href="#" class="underlined">Служба поддержки</a>
                |
                <a href="privacy" class="underlined">Политика конфиденциальности</a>
            </div>
            Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
{% endif %}
