{% load static %}
{% if request.user.is_authenticated %}
    {% if request.user_agent.is_mobile %}
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>F5</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        </head>
        <body>
            <table>
                <tr>
                    <td width="114px" valign="top">
                        <nav>
                            <ul class="menu">
                                <li><button onclick="window.location.href = 'home';" class="menu_item"><div class="menu_logo">F5</div> <div class="menu_link">главная</div></button></li>
                                <li><button onclick="window.location.href = 'statistic'"; class="menu_item"><div class="menu_icon"><img src="{% static 'icons/icon_statistics.svg' %}"></div><div class="menu_link">статисика</div></button></li>
                                <li><button onclick="window.location.href = 'settings'"; class="menu_item_active"><div class="menu_icon"><img src="{% static 'icons/icon_settings.svg' %}"></div><div class="menu_link">настройки</div></button></li>
                            </ul>
                        </nav>
                    </td>
                    <td width="100%" valign="center">
                        <div class="save settings">
                            <form method="POST">
                                <div class="row" style="margin: 0 auto">
                                    <div class="col-sm-1">
                                        <label class="form-label form_label">логин</label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% csrf_token %}{{ form.username }}
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="save_btn" style="margin-top: 0;">Изменить</button>
                                    </div>
                                </div>
                            </form>
                            <button class="save_btn" onclick="window.location.href = 'edit_password';">Изменить пароль</button><br><br><br>
                            <button class="save_btn" onclick="window.location.href = 'logout';">Выйти</button>
                        </div>
                    </td>
                </tr>
            </table>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% else %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Настройки</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        </head>
        <body>
            <header>
                <nav>
                    <div class="container">
                        <div class="row">
                            <ul class="menu col-md-12">
                                <li class="menu_item"><a href="home" class="menu_link">Главная</a></li>
                                <li class="menu_item"><a href="statistic" class="menu_link">Статистика</a></li>
                                <li class="menu_item_active"><a href="settings" class="menu_link">Настройки</a></li>
                            </ul>
                      </div>
                    </div>
                </nav>
            </header>

            <section class="main">
                <div class="save settings">
                    <form method="POST">
                        <div class="row" style="max-width:400px; margin: 0 auto">
                            <div class="col-md-1">
                                <label class="form-label form_label">логин</label>
                            </div>
                            <div class="col-md-9">
                                {% csrf_token %}{{ form.username }}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="save_btn" style="margin-top: 0;">Изменить</button>
                            </div>
                        </div>
                    </form>
                    <button class="save_btn" onclick="window.location.href = 'edit_password';">Изменить пароль</button><br><br><br>
                    <button class="save_btn" onclick="window.location.href = 'logout';">Выйти</button>
                </div>
            </section>

            <footer>
                <div class="info">
                    <div class="info_links">
                        <a href="#" class="underlined">Служба поддержки</a>
                        |
                        <a href="privacy" class="underlined">Политика конфиденциальности</a>
                    </div>
                    Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
                </div>
            </footer>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% endif %}
{% else %}
    {% if request.user_agent.is_mobile %}
        <!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Авторизация</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        </head>
        <body>
            <table>
                <tr>
                    <td>
                        <button class="save_btn" onclick="window.location.href = 'login';">Вход</button>
                        <button class="save_btn" onclick="window.location.href = 'signup';">Регистрация</button>
                    </td>
                </tr>
            </table>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% else %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Авторизация</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        </head>
        <body>
            <section class="auth">
                <div class="container">
                    <div class="auth_block">
                        <h2 class="auth_title">Вход</h2>
                        <button class="save_btn" onclick="window.location.href = 'login';">Вход</button>
                        <button class="save_btn" onclick="window.location.href = 'signup';">Регистрация</button>
                    </div>
                    <a href="signup" class="link_reg">Регистрация</a>
                </div>
            </section>

            <footer>
                <div class="info">
                    <div class="info_links">
                        <a href="#" class="underlined">Служба поддержки</a>
                        |
                        <a href="privacy" class="underlined">Политика конфиденциальности</a>
                    </div>
                    Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
                </div>
            </footer>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% endif %}
{% endif %}

