{% load static %}
{% if request.user.is_authenticated %}
    {% if request.user_agent.is_mobile %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Статистика</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    </head>
    <body>
        <table>
            <tr class="accordion" id="AccordionAdd">
                <td width="114px" valign="top">
                    <nav>
                        <ul class="menu">
                            <li><button onclick="window.location.href = 'home';" class="menu_item"><div class="menu_logo">F5</div> <div class="menu_link">главная</div></button></li>
                            <li><button onclick="window.location.href = 'statistic'"; class="menu_item_active"><div class="menu_icon"><img src="{% static 'icons/icon_statistics.svg' %}"></div><div class="menu_link">статистика</div></button></li>
                            <li><button onclick="window.location.href = 'settings'"; class="menu_item"><div class="menu_icon"><img src="{% static 'icons/icon_settings.svg' %}"></div><div class="menu_link">настройки</div></button></li>
                        </ul>
                    </nav>
                </td>
                {% if request.user.is_doctor %}
                <td width="100%" valign="top"><div class="">На эту страницу с аккаунта врача можно войти только с компъютера</div></td>
                    {% else %}
                <td width="30%" valign="top">
                    <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormType" aria-expanded="false" aria-controls="FormType">+</button></div>
                    <div class="save collapse multi-collapse" id="FormType">
                        <div class="card card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ FormType.label }}
                                <button type="submit" class="save_btn" name="add_type">Добавить</button>
                            </form>
                        </div>
                    </div>
                    <ul class="types">
                    {% if type %}
                        {% for i in type %}
                        <li class="accordion-header" id="header{{ i.id }}"><button class="type" type="button" data-toggle="collapse" data-target="#Info{{ i.id }}" aria-expanded="true" aria-controls="Info{{ i.id }}">{{ i.label }}</button></li>
                        {% endfor %}
                    {% else %}
                        <div class="types save" style="margin: 0 auto; margin-top:5px; color: #cccccc; font-size: 1rem; font-weight: 400; line-height: 1.5;">Вы ещё не начали<br>вести статистику</div>
                    {% endif %}
                    </ul>
                </td>
                <td style="padding: 0;">
                    {% for i in type %}
                    <td width="100%" valign="top" class="collapse" id="Info{{ i.id }}" data-parent="#AccordionAdd" style="transition: none !important;">
                        <div class="block_page card card-body">
                            <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormAd" aria-expanded="false" aria-controls="FormAd">+</button></div>
                            <div class="collapse multi-collapse" id="FormAd">
                                <div class="card card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ FormAD.systolic_ad }}
                                        {{ FormAD.diastolic_ad }}
                                        {{ FormAD.time }}
                                        <button type="submit" class="save_btn" name="add_data" value="{{ i.id }}">Сохранить</button>
                                    </form>
                                </div>
                            </div>
                            <div class="accordion" id="accordionStatistics{{ i.id }}">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          За 10 дней
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionStatistics{{ i.id }}">
                                        <div class="card-body">
                                            <div class="line-graph{{ i.id }}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          За месяц
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionStatistics{{ i.id }}">
                                        <div class="card-body">
                                            <div class="bar-graph{{ i.id }}"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          За всё время
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionStatistics{{ i.id }}">
                                        <div class="card-body">
                                            <div class="donut-graph{{ i.id }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
        </table>
        <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        {% if statistics %}
        <script>
        {% for i in type %}
            var chart = new Chartist.Line('.line-graph{{ i.id }}', {
            labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}', {% endif %}{% endfor %}],
            series: [
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }},{% endif %}{% endfor %}],
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }},{% endif %}{% endfor %}],
            ]
            }, {
              showPoint: true,
              width: 325,
              height: 175
            });
            chart.update()
            {% endfor %}
        </script>
        <script>
        {% for i in type %}
            var data = {
            labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}' {% endif %}, {% endfor %}],
            series: [
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }},{% endif %}{% endfor %}],
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }},{% endif %}{% endfor %}],
            ]
            };
            var options = {
              width: 325,
              height: 175
            };
            Chartist.Bar('.bar-graph{{ i.id }}', data, options);
            {% endfor %}
        </script>
        <script>
            {% for i in type %}
                var height = document.getElementById('Info{{ i.id }}').offsetWidth*0.2
                var Hypotonia =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad < 100 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var Normal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 100 and t.systolic_ad < 129 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HighNormal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 129 and t.systolic_ad < 140 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var ModerateHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 140 and t.systolic_ad < 160 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var AverageHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 160 and t.systolic_ad < 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HardHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var series = [Hypotonia.length , Normal.length , HighNormal.length , ModerateHypertension.length , AverageHypertension.length , HardHypertension.length];
                var labels = ['Гипотония', 'Норма', 'Повышено', 'Умерен Гип', 'Сред Гип', 'Тяж Гип'];

                for (var i=0; i<6; i++){
                    if (series[i] == 0){
                        labels[i] = " ";
                        console.log(labels[i] = " ");
                    };
                };

                var data = {
                  labels: labels,
                  series: series,
                };


                new Chartist.Pie('.donut-graph{{ i.id }}', data, {
                  height: 150,
                  width: 300
                });
            {% endfor %}
        </script>
        {% endif %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
    </html>
    {% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Статистика</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    </head>
    <body>

        <header>
            <nav>
                <div class="container">
                    <div class="row">
                        <ul class="menu col-md-12">
                            <li class="menu_item"><a href="home" class="menu_link">Главная</a></li>
                            <li class="menu_item_active"><a href="statistic" class="menu_link">Статистика</a></li>
                            <li class="menu_item"><a href="settings" class="menu_link">Настройки</a></li>
                        </ul>
                  </div>
                </div>
            </nav>
        </header>

        {% if request.user.is_doctor %}
            <section class="main">
            <table class="accordion" id="AccordionUser">
                <tr class="accordion" id="AccordionAdd">
                    <td>
                        <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormPatient" aria-expanded="false" aria-controls="FormPatient">+</button></div>
                        <div class="types save collapse multi-collapse" id="FormPatient" style="margin-bottom:5px">
                            <div class="card card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ FormPatient.email }}
                                    <button type="submit" class="save_btn" name="add_patient">Добавить</button>
                                </form>
                            </div>
                        </div>
                        <ul class="types save">
                        {% if patients %}
                            {% for i in patients %}
                            <div class="accordion-header" id="user_header{{ i.id }}">
                                <li><button class="type clickable" type="button" data-toggle="collapse" data-target="#user{{ i.id }}" aria-expanded="true" aria-controls="user{{ i.id }}">{{ i.username }}</button></li>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div style="margin: 0 auto; color: #cccccc; font-size: 1rem; font-weight: 400; line-height: 1.5;">Вы ещё не добавили<br>ни одного пациента</div>
                        {% endif %}
                        </ul>
                        {% for i in patients %}
                         <div class="collapse" id="user{{ i.id }}" aria-labelledby="user_header{{ i.id }}" data-parent="#AccordionUser"  style="transition: none !important;">
                             <div class="card-body">
                                 <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormType" aria-expanded="false" aria-controls="FormType">+</button></div>
                                 <div class="types save collapse multi-collapse" id="FormType" style="margin-bottom:5px">
                                     <div class="card card-body">
                                         <form method="POST">
                                            {% csrf_token %}
                                            {{ FormType.label }}
                                            <button type="submit" class="save_btn" name="add_type" value="{{ i.id }}">Добавить</button>
                                         </form>
                                     </div>
                                 </div>
                                 <ul class="types save">
                                     {% if type %}
                                     {% for b in type %}
                                         {% if b.user == i %}
                                             <div class="accordion-header" id="header{{ b.id }}">
                                                 <li><button class="type clickable" type="button" data-toggle="collapse" data-target="#ad{{ b.id }}" aria-expanded="true" aria-controls="ad{{ b.id }}">{{ b.label }}</button></li>
                                             </div>
                                         {% endif %}
                                     {% endfor %}
                                 {% else %}
                                     <div style="margin: 0 auto; color: #cccccc; font-size: 1rem; font-weight: 400; line-height: 1.5;">Пациент ещё не начал<br>вести статистику</div>
                                 {% endif %}
                                 </ul>
                                 {% for b in type %}
                                    {% if b.user == i %}
                                     <div class="collapse" id="ad{{ b.id }}" aria-labelledby="heading{{ b.id }}" data-parent="#AccordionAdd"  style="transition: none !important;">
                                         <div class="card-body">
                                             <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormAd" aria-expanded="false" aria-controls="FormAd">+</button></div>
                                             <div class="types save collapse show" id="FormAd">
                                                 <div class="card card-body">
                                                     <form method="POST">
                                                         {% csrf_token %}
                                                         {{ FormAD.systolic_ad }}
                                                         {{ FormAD.diastolic_ad }}
                                                         {{ FormAD.time }}
                                                         <button type="submit" class="save_btn" name="add_data" value="{{ i.id }},{{ b.id }}">Сохранить</button>
                                                     </form>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 {% endif %}
                                 {% endfor %}
                                 </div>
                             </div>
                        {% endfor %}
                        </td>
                        {% for i in patients %}
                             <td width="100%"  id="width">
                                 <div  class="collapse" id="user{{ i.id }}" aria-labelledby="user_header{{ i.id }}" data-parent="#AccordionUser"  style="transition: none !important;">
                                     <div class="card-body">
                                         {% for i in type %}
                                             {% if i.type.puser == i.patient %}
                                                 <div class="collapse" id="ad{{ i.id }}" aria-labelledby="heading{{ i.id }}" data-parent="#AccordionAdd"  style="transition: none !important;">
                                                     <div class="card-body">
                                                         <div class="graphik save">
                                                             <div class="line-graph{{ i.id }}"></div>
                                                         </div>
                                                         <div class="row" style="width:80%; margin: 0 auto; ">
                                                             <div class="col-md-6" style="margin-top: 10px;padding: 0 5px 0 0;">
                                                                 <div class="save">
                                                                     <div class="bar-graph{{ i.id }}"></div>
                                                                 </div>
                                                             </div>
                                                             <div class="col-md-6" style="margin-top: 10px; padding: 0 0 0 5px;">
                                                                 <div class="save">
                                                                     <div class="donut-graph{{ i.id }}"></div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             {% endif %}
                                         {% endfor %}
                                     </div>
                                 </div>
                             </td>
                        {% endfor %}
                    </tr>
                </table>
            </section>
            <footer>
                <div class="info">
                    <div class="info_links">
                        <a href="#" class="underlined">Служба поддержки</a>
                        |
                        <a href="privacy" class="underlined">Политика конфиденциальности</a>
                    </div>
                    Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
                </div>
            </footer>
            <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
            {% if statistics %}
            <script>
                var width = document.getElementById('width').offsetWidth*0.8
                {% for i in type %}
                var chart = new Chartist.Line('.line-graph{{ i.id }}', {
                labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}', {% endif %}{% endfor %}],
                series: [
                  [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }}, {% endif %}{% endfor %}],
                  [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }}, {% endif %}{% endfor %}],
                ]
                }, {
                  showPoint: true,
                  height: 300,
                  width: width

                });
                chart.update()
                {% endfor %}
            </script>
            <script>
                var width = document.getElementById('width').offsetWidth*0.35
                {% for i in type %}
                var data = {
                  labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}', {% endif %}{% endfor %}],
                  series: [
                    [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }}, {% endif %}{% endfor %}],
                    [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }}, {% endif %}{% endfor %}],
                ]
                };
                var options = {
                  height: 200,
                  width: width
                };
                Chartist.Bar('.bar-graph{{ i.id }}', data, options);
                {% endfor %}
            </script>
            <script>
                var width = document.getElementById('width').offsetWidth*0.35
                {% for i in type %}
                var Hypotonia =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad < 100 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var Normal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 100 and t.systolic_ad < 129 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HighNormal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 129 and t.systolic_ad < 140 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var ModerateHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 140 and t.systolic_ad < 160 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var AverageHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 160 and t.systolic_ad < 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HardHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var series = [Hypotonia.length , Normal.length , HighNormal.length , ModerateHypertension.length , AverageHypertension.length , HardHypertension.length];
                var labels = ['Гипотония', 'Норма', 'Повышено', 'Умерен Гип', 'Сред Гип', 'Тяж Гип'];

                for (var i=0; i<6; i++){
                    if (series[i] == 0){
                        labels[i] = " ";
                        console.log(labels[i] = " ");
                    };
                };

                var data = {
                  labels: labels,
                  series: series,
                };


                new Chartist.Pie('.donut-graph{{ i.id }}', data, {
                  height: 200,
                  width: width,
                });
                {% endfor %}
            </script>
            {% endif %}
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% else %}
        <section class="main">
            <table>
                <tr class="accordion" id="AccordionAdd">
                    <td>
                        <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormType" aria-expanded="false" aria-controls="FormType">+</button></div>
                        <div class="types save collapse multi-collapse" id="FormType" style="margin-bottom:5px">
                            <div class="card card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ FormType.label }}
                                    <button type="submit" class="save_btn" name="add_type">Добавить</button>
                                </form>
                            </div>
                        </div>
                        <ul class="types save">
                        {% if type %}
                            {% for i in type %}
                            <div class="accordion-header" id="header{{ i.id }}">
                                <li><button class="type clickable" type="button" data-toggle="collapse" data-target="#ad{{ i.id }}" aria-expanded="true" aria-controls="ad{{ i.id }}">{{ i.label }}</button></li>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div style="margin: 0 auto; color: #cccccc; font-size: 1rem; font-weight: 400; line-height: 1.5;">Вы ещё не начали<br>вести статистику</div>
                        {% endif %}
                        </ul>
                        {% for i in type %}
                        <div class="collapse" id="ad{{ i.id }}" aria-labelledby="heading{{ i.id }}" data-parent="#AccordionAdd"  style="transition: none !important;">
                            <div class="card-body">
                                <div class="add"><button class="plus" type="button" data-toggle="collapse" data-target="#FormAd" aria-expanded="false" aria-controls="FormAd">+</button></div>
                                <div class="types save collapse show" id="FormAd">
                                    <div class="card card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ FormAD.systolic_ad }}
                                            {{ FormAD.diastolic_ad }}
                                            {{ FormAD.time }}
                                            <button type="submit" class="save_btn" name="add_data" value="{{ i.id }}">Сохранить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                    <td width="100%" id="width">
                    {% for i in type %}
                    <div class="collapse" id="ad{{ i.id }}" aria-labelledby="heading{{ i.id }}" data-parent="#AccordionAdd"  style="transition: none !important;">
                        <div class="card-body">
                            <div class="graphik save">
                                <div class="line-graph{{ i.id }}"></div>
                            </div>
                            <div class="row" style="width:80%; margin: 0 auto; ">
                                <div class="col-md-6" style="margin-top: 10px;padding: 0 5px 0 0;">
                                    <div class="save">
                                        <div class="bar-graph{{ i.id }}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 10px; padding: 0 0 0 5px;">
                                    <div class="save">
                                        <div class="donut-graph{{ i.id }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </td>
                </tr>
            </table>
        </section>

        <footer>
            <div class="info">
                <div class="info_links">
                    <a href="#" class="underlined">Служба поддержки</a>
                    |
                    <a href="privacy" class="underlined">Политика конфиденциальности</a>
                </div>
                Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
            </div>
        </footer>
        <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        {% if statistics %}
        <script>
            var width = document.getElementById('width').offsetWidth*0.8
            {% for i in type %}
            var chart = new Chartist.Line('.line-graph{{ i.id }}', {
            labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}',{% endif %}{% endfor %}],
            series: [
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }},{% endif %}{% endfor %}],
              [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }},{% endif %}{% endfor %}],
            ]
            }, {
              showPoint: true,
              height: 300,
              width: width

            });
            chart.update()
            {% endfor %}
        </script>
        <script>
            var width = document.getElementById('width').offsetWidth*0.35
            {% for i in type %}
            var data = {
              labels: [{% for t in statistics %} {% if t.type.id == i.id %} '{{ t.time|date:"j" }}',{% endif %}{% endfor %}],
              series: [
                [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.systolic_ad }},{% endif %}{% endfor %}],
                [{% for ad in statistics %} {% if ad.type.id == i.id %} {{ ad.diastolic_ad }},{% endif %}{% endfor %}],
            ]
            };
            var options = {
              height: 200,
              width: width
            };
            Chartist.Bar('.bar-graph{{ i.id }}', data, options);
            {% endfor %}
        </script>
        <script>
            var width = document.getElementById('width').offsetWidth*0.35
            {% for i in type %}
                var Hypotonia =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad < 100 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var Normal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 100 and t.systolic_ad < 129 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HighNormal =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 129 and t.systolic_ad < 140 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var ModerateHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 140 and t.systolic_ad < 160 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var AverageHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 160 and t.systolic_ad < 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var HardHypertension =[{% for t in statistics %}{% if t.type.id == i.id and t.systolic_ad >= 180 %}{{ t.systolic_ad }},{% endif %}{% endfor %}];
                var series = [Hypotonia.length , Normal.length , HighNormal.length , ModerateHypertension.length , AverageHypertension.length , HardHypertension.length];
                var labels = ['Гипотония', 'Норма', 'Повышено', 'Умерен Гип', 'Сред Гип', 'Тяж Гип'];

                for (var i=0; i<6; i++){
                    if (series[i] == 0){
                        labels[i] = " ";
                        console.log(labels[i] = " ");
                    };
                };

                var data = {
                  labels: labels,
                  series: series,
                };


                new Chartist.Pie('.donut-graph{{ i.id }}', data, {
                  height: 200,
                  width: width,
                });
            {% endfor %}
        </script>
        {% endif %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endif %}
    </body>
    </html>
    {% endif %}
{% else %}
    {% if request.user_agent.is_mobile %}
        <!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Авторизация</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_mobile.min.css' %}">
        </head>
        <body>
            <table>
                <tr>
                    <td>
                        <button class="save_btn" onclick="window.location.href = 'login';"></button>
                        <button class="save_btn" onclick="window.location.href = 'signup';"></button>
                    </td>
                </tr>
            </table>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% else %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Авторизация</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        </head>
        <body>
            <section class="auth">
                <div class="container">
                    <div class="auth_block">
                        <button class="save_btn" onclick="window.location.href = 'login';"></button>
                        <button class="save_btn" onclick="window.location.href = 'signup';"></button>
                    </div>
                </div>
            </section>
            <footer>
                <div class="info">
                    <div class="info_links">
                        <a href="#" class="underlined">Служба поддержки</a>
                        |
                        <a href="privacy" class="underlined">Политика конфиденциальности</a>
                    </div>
                    Пишите нам <a href="mailto:lishuk.rostislaw@yandex.ru">lishuk.rostislaw@yandex.ru</a>
                </div>
            </footer>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
        </html>
    {% endif %}
{% endif %}